WPCamaraComercio/WPCamaraComercio/Connected Services/WCFCamaraComercio/WCFCamaraComercio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFCamaraComercio.Clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFCamaraComercio.Clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://200.122.221.195/WCFCamaraComercio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="tipo_busqueda">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nombre">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Nit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="tipo_busqueda" nillable="true" type="tns:tipo_busqueda" />
  <xs:complexType name="RespuestaConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="response" nillable="true" type="tns:Response" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaConsulta" nillable="true" type="tns:RespuestaConsulta" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="frid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lrid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="registros" type="xs:int" />
      <xs:element minOccurs="0" name="resultados" nillable="true" type="tns:ArrayOfResultado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="ArrayOfResultado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Resultado" nillable="true" type="tns:Resultado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultado" nillable="true" type="tns:ArrayOfResultado" />
  <xs:complexType name="Resultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstablecimientosConCoincidencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="activo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="crr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="digito_verificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_renovacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matricula_est" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="municipio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tpcm" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resultado" nillable="true" type="tns:Resultado" />
  <xs:complexType name="PeticionDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tpcm" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeticionDetalle" nillable="true" type="tns:PeticionDetalle" />
  <xs:complexType name="RespuestaDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="response" nillable="true" type="tns:ResponseDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaDetalle" nillable="true" type="tns:RespuestaDetalle" />
  <xs:complexType name="ResponseDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="TiposCertificados" nillable="true" type="tns:ArrayOfTiposCertificado" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultados" nillable="true" type="tns:ArrayOfResultadoDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseDetalle" nillable="true" type="tns:ResponseDetalle" />
  <xs:complexType name="ArrayOfTiposCertificado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TiposCertificado" nillable="true" type="tns:TiposCertificado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTiposCertificado" nillable="true" type="tns:ArrayOfTiposCertificado" />
  <xs:complexType name="TiposCertificado">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionCertificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCertificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCertificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorCertificado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TiposCertificado" nillable="true" type="tns:TiposCertificado" />
  <xs:complexType name="ArrayOfResultadoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultadoDetalle" nillable="true" type="tns:ResultadoDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultadoDetalle" nillable="true" type="tns:ArrayOfResultadoDetalle" />
  <xs:complexType name="ResultadoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Desc_Cicm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_Inicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mpio_Come_Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tpcm_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UltRenv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="certificados" nillable="true" type="tns:ArrayOfCertificadoDetalle" />
      <xs:element minOccurs="0" name="come_Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="come_sigla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dir_come" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="establecimientos" nillable="true" type="tns:ArrayOfEstablecimiento" />
      <xs:element minOccurs="0" name="identificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroestablecimientosactivos" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoDetalle" nillable="true" type="tns:ResultadoDetalle" />
  <xs:complexType name="ArrayOfCertificadoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CertificadoDetalle" nillable="true" type="tns:CertificadoDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCertificadoDetalle" nillable="true" type="tns:ArrayOfCertificadoDetalle" />
  <xs:complexType name="CertificadoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoGeneracion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCertificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatriculaEstablecimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCertificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorCertificado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CertificadoDetalle" nillable="true" type="tns:CertificadoDetalle" />
  <xs:complexType name="ArrayOfEstablecimiento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Establecimiento" nillable="true" type="tns:Establecimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstablecimiento" nillable="true" type="tns:ArrayOfEstablecimiento" />
  <xs:complexType name="Establecimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="CertificadosEstablecimiento" nillable="true" type="tns:ArrayOfCertificadosEstablecimiento" />
      <xs:element minOccurs="0" name="DireccionEstablecimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoEstablecimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatriculaEst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MunicipioEstablecimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreEstablecimiento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Establecimiento" nillable="true" type="tns:Establecimiento" />
  <xs:complexType name="ArrayOfCertificadosEstablecimiento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CertificadosEstablecimiento" nillable="true" type="tns:CertificadosEstablecimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCertificadosEstablecimiento" nillable="true" type="tns:ArrayOfCertificadosEstablecimiento" />
  <xs:complexType name="CertificadosEstablecimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoGeneracion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCertificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatriculaEstablecimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCertificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorCertificado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CertificadosEstablecimiento" nillable="true" type="tns:CertificadosEstablecimiento" />
  <xs:complexType name="Datos">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutorizaEnvioEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AutorizaEnvioSMS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Certificados" nillable="true" type="tns:ArrayOfCertificado" />
      <xs:element minOccurs="0" name="CodigoDepartamentoComprador" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoMunicipioComprador" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPaisComprador" type="xs:int" />
      <xs:element minOccurs="0" name="DireccionComprador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailComprador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificacionComprador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MunicipioComprador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComprador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlataformaCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerApellidoComprador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombreComprador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenciaPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellidoComprador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombreComprador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoComprador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoComprador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoIdentificacionComprador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorCompra" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Datos" nillable="true" type="tns:Datos" />
  <xs:complexType name="ArrayOfCertificado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Certificado" nillable="true" type="tns:Certificado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCertificado" nillable="true" type="tns:ArrayOfCertificado" />
  <xs:complexType name="Certificado">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoGeneracion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCertificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatriculaEst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCertificados" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tpcm" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Certificado" nillable="true" type="tns:Certificado" />
  <xs:complexType name="CLSDatosCertificado">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCertificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="copia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idcompra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matriculaest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referenciaPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tpcm" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CLSDatosCertificado" nillable="true" type="tns:CLSDatosCertificado" />
</xs:schema>