WPCamaraComercio/WPCamaraComercio/Connected Services/WCFCamaraComercio/WCFCamaraComercio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://200.122.221.193:9197/WCFCamaraComercio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFCamaraComercio.Clases" />
  <xs:import schemaLocation="http://200.122.221.193:9197/WCFCamaraComercio.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetGeneralInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paramConsulta" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFCamaraComercio.Clases" minOccurs="0" name="tipo_Busqueda" type="q1:tipo_busqueda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneralInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFCamaraComercio.Clases" minOccurs="0" name="GetGeneralInformationResult" nillable="true" type="q2:RespuestaConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetalleComerciante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFCamaraComercio.Clases" minOccurs="0" name="paramConsulta" nillable="true" type="q3:PeticionDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetalleComercianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFCamaraComercio.Clases" minOccurs="0" name="GetDetalleComercianteResult" nillable="true" type="q4:RespuestaDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPayInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFCamaraComercio.Clases" minOccurs="0" name="payInformation" nillable="true" type="q5:Datos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPayInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SendPayInformationResult" nillable="true" type="q6:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayReference">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPayReferenceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrintedCopy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTransaccion" type="xs:int" />
        <xs:element minOccurs="0" name="idCertificado" type="xs:int" />
        <xs:element minOccurs="0" name="matricula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matriculaEst" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrintedCopyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePrintedCopyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corresponsal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertErrorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertified">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFCamaraComercio.Clases" minOccurs="0" name="datosCertificado" nillable="true" type="q7:CLSDatosCertificado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertifiedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCertifiedResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertifiedString">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFCamaraComercio.Clases" minOccurs="0" name="datosCertificado" nillable="true" type="q8:CLSDatosCertificado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertifiedStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCertifiedStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>